html,
body {
  background-color: #f9f9f9;
}

.transition {
  transition: left 0s ease-in-out, background-color 1s ease-out 0s;
}

.has-vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}